footer {
	margin-top: 								25px;
	border-top:									1px solid #fff;
	padding:									0 10px;
}

footer ul {
	padding: 									5px 0;
}

footer ul li {
	list-style: 								none;
}

footer ul li:first-of-type {
	float: 										left;
}

footer ul li:last-of-type {
	float: 										right;
}	

footer ul li a {
	text-decoration: 							none;
	color: 										#fff;
}

footer ul li a:hover,
footer ul li a:active,
footer ul li a:focus {
	text-decoration: 							underline;
}