*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

html {
	background: 								url(./assets/img/background.jpg) no-repeat center center;
	webkit-background-size: 					cover;
	-moz-background-size: 						cover;
	-o-background-size: 						cover;
	background-size: 							cover;
	background-attachment: 						fixed;
}


body {
	margin:										0 auto;
	width: 										80%;
}